@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");

/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


main {
    background-color: #bbb;
    padding: 1em;
  }
body {
	padding: 0;
    margin: 0;
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}


img {
    max-width: 100%;
  }

  header
  {
     background-color: #e4b03a;
     padding: 35px 0;
     display: flex;
     align-items: center;
     justify-content: space-between;
     margin: 0 auto;
     border-bottom: 2px solid #bbb;
     max-width: 1200px;
     
 }

 .clearfix{
    content:"";
    display: table;
    clear: both;
}

.logo img {
    width: 80px;
    height: auto;
}
.headings {
    display: flex;
    flex-direction: column;
    margin-left: .5rem;
}

.headings h1 {
    font-size: 1.5rem;
}

.snow {
    letter-spacing: 1pt;
    color:#866d6d;
    font-weight: 100;
    font-size: 0.2rem;
}

.social {
    margin-left: 1.5rem;
    
}

.social svg {
    width: 35px;
    height: auto;
    padding: 2px;
}

nav button {
    margin: .8rem 2.5vw;
    background-color: transparent;
}

nav {
	background-color: #aabd8c;
	margin: 0 auto;
	max-width: 650px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.9);

}
nav ul {
list-style-type: none;
display: inline-block;
padding:0px 15px;
  
}

nav ul li a {
    display: inline-block;
    padding: .2rem 2.0vw;
    text-decoration: none;
    color: #333;
    border-top: 2px solid rgba(0,0,0,0.5);
}

nav ul li a:hover {
    background-color:#fff45f;
}

nav ul li.active a{
    background-color: rgba(0,0,0,0.2);
    color:#fff;
}

.grid-layout-vw {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1em;
  }

  .container {
    position: relative;
    max-width: 800px; /* Maximum width */
    margin: 0 auto;
    grid-column: 2 / 3;
    grid-row: 1 / 2;  
    box-shadow: 5px 10px #999999;
}

.overlay{
    position: absolute; /* Position the background text */
    bottom: 30%; /* At the bottom. Use top:0 to append it to the top */
    width: 30%; /* Full width */
    padding: 15px; /* Some padding */
    margin-right: 5em;
}
/* The layout styles for the grid functionality */

.event1-home{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    background-color: tan;
    text-align: left;
}

.event2-home{
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    background-color: tan;
    text-align: left;
  }

  .banner{
    grid-column: 1 / 6;
    grid-row: 2 / 3;
    background-color:transparent;
  }

.event3-home{
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    background-color:transparent;
    
}

.event4-home {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    background-color: tan;
    text-align: left;
}
.temple{
    
}

  footer {
    background-color: #808080;
	padding: 10px 0;
    margin: 0 auto;
    display:grid;
    grid-template-columns: 1fr;
    border-bottom: 1px solid #bbb;
    max-width: 1200px;
    text-align: center;
	
}