@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");

/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


main {
    background-color: #bbb;
    padding: 1em;
  }
body {
	padding: 0;
    margin: 0;
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}


img {
    max-width: 100%;
  }

  header
  {
     background-color: #e4b03a;
     padding: 35px 0;
     display: flex;
     align-items: center;
     justify-content: space-between;
     margin: 0 auto;
     border-bottom: 2px solid #bbb;
     
     
 }

 .clearfix{
    content:"";
    display: table;
    clear: both;
}

.logo img {
    width: 80px;
    height: auto;
}
.headings {
    display: flex;
    flex-direction: column;
    margin-left: .5rem;
}

.headings h1 {
    font-size: 1.5rem;
}

.snow {
    letter-spacing: 1pt;
    color:#866d6d;
    font-weight: 100;
    font-size: 0.2rem;
}

.social {
    margin-left: 1.5rem;
    
}

.social svg {
    width: 35px;
    height: auto;
    padding: 2px;
}

nav button {
    margin: .8rem 2.5vw;
    background-color: transparent;
}

nav {
	background-color: #aabd8c;
	margin: 0 auto;
	max-width: 650px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.9);

}
nav ul {
list-style-type: none;
display: inline-block;
padding:0px 15px;
  
}

nav ul li a {
    display: inline-block;
    padding: .2rem 2.0vw;
    text-decoration: none;
    color: #333;
    border-top: 2px solid rgba(0,0,0,0.5);
}

nav ul li a:hover {
    background-color:#fff45f;
}

nav ul li.active a{
    background-color: rgba(0,0,0,0.2);
    color:#fff;
}

.grid-layout-vw {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1em;
  }

  .container {
    position: relative;
    max-width: 800px; /* Maximum width */
    margin: 0 auto;
    grid-column: 2 / 3;
    grid-row: 1 / 2;  
    box-shadow: 5px 10px #999999;
}

.overlay{
    position: absolute; /* Position the background text */
    bottom: 30%; /* At the bottom. Use top:0 to append it to the top */
    width: 30%; /* Full width */
    padding: 15px; /* Some padding */
    margin-right: 5em;
}
/* The layout styles for the grid functionality */

.event1-home{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    background-color: tan;
    text-align: left;
    padding: 2px;
}

.event2-home{
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    background-color: tan;
    text-align: left;
    padding: 2px;
  }

  .banner{
    grid-column: 1 / 6;
    grid-row: 2 / 3;
    background-color:transparent;
  }

.event3-home{
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    background-color:transparent;
    
}

.event4-home {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    background-color: tan;
    padding: 2px;
    

}
.temple{
    float:right;
    
}

.event5-home {
    grid-column: 3 / 4;
    grid-row: 3 / 5;
    background-color:transparent;
    

}

/* Hamburger Syntax */

@media screen and (max-width: 550px) {
    .home-grid {
      display: block;
    }
    .home-grid,nav, ul{
      display: block;
    }
  }
  
  

nav ul {display: none;}
nav ul.open {display: block;}

#hamburgerBtn span:nth-child(1) {display:block;}
#hamburgerBtn span:nth-child(2) {display:none;}

#hamburgerBtn.open  span:nth-child(1) {display:none;}
#hamburgerBtn.open span:nth-child(2) {display:block;}

#hamburgerBtn{
    width: 50px;
    padding: 0px;
    list-style: none;
    background-color:#eceff1;
    height: 100%;

    
   
}

/* Temple Directory */

.cards {
    box-shadow: 0 4px 8px 0 black, 0 6px 20px 0 black;
    background-color: lightgray;
  }
  
  .cards section{
    border: 2px solid black;
    padding: 10px;
    background-color: #D9D9F3;
    overflow: hidden;
  }
  
  .cards section img{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    box-shadow: 0 4px 8px 0 black, 0 6px 20px 0 black;
  }
  

/* Weather app css */

.weatherapp {
    width: 300px;
    height: 350px;
    display: block;
    margin: auto;
    text-align: center;
    padding: 0px 0;
    overflow: hidden;
    border-radius: 20px;
    background-image: linear-gradient(#30A2C5, #00242F);
}

/*Reservation Form  */

form fieldset {
    margin: 2rem 0;
    border:3px solid #445ba9;
    border-radius: 10px;
    padding: .5rem 2%;

}

form legend {
    color: #445ba9; 
    margin: 0 1rem;
    padding: 0 .5rem;
}

form label.top, form div{
    display: block;
    padding-top: 1rem;
    color:#9c2c13;
    font-size: .8rem;
}

form label.top input, form label.top select{
    display: block;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 4px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 20rem;
    background-color: rgb(0,0,0,0.1)

}


form input.submitBtn {
    border: none;
    background-color: red;
    color: white;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
    cursor: pointer;
}

form label.top input:required{
    border-left: red solid 6px;
}

form label.top, input:required:valid{
    border-left:green solid 0px;

}


/*footer css design*/

  footer {
    background-color: #808080;
	padding: 10px 0;
    margin: 0 auto;
    display:grid;
    grid-template-columns: 1fr;
    border-bottom: 1px solid #bbb;
    text-align: center;
	
}

.lastlist{
    display: flex;
    justify-content: space-evenly;
}