.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  }
  
  p {
    margin: 0;
    white-space:normal;
    text-align: center;
  }
  
  img {
    width: auto;
    max-width: 250px;
    box-shadow: 0 0 0px #777;
    height: 200px;
    border: 0px solid white;
    
  }
  
  section {
    margin: 0.25rem;
    padding: 0.35rem;
    
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  section > p {
    min-height: 20px;
  }
  
  @media screen and (min-width: 32.5em) {
    .cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
  
    img {
        display: flex;
        width: 100%;
    }
  }
  
  @media screen and (min-width: 960px) {
    .cards {
        width: 960px;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: center;
        align-items: center;
        padding-left: 0px;
    }
  
    .cards section {
        max-width: 320px;
    }
  
    img {
        display: flex;
        max-width: 200px;
        
    }
  }