/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");

main {
    background-color: #ffffff;
    padding: 1em;
  }
body {
	padding: 0;
    margin: 0;
    background-color: #e4b03a;
    font-family: Arial, Helvetica, sans-serif;
}

#content {
    margin: auto;
    margin-left: auto;
    margin-right: auto;
  }


header {
	background-color:#aabd8c;
	padding: 5px 0;
	display: flex;
	align-items: center;
	
	margin: 0 auto;
}
.home-address{
    display: grid;
    grid-template-columns: 1fr 1fr;

}

    #datetime{
        background-color: aqua;
    }

    .logo {
        display: flex;
        align-items: center;
        margin-left: 1rem;
    }

    .logo img {
        width: 80px;
        height: auto;
    }
    
    .headings {
        display: flex;
        flex-direction: column;
        margin-left: .5rem;
    }
    
    .headings h1 {
        font-size: 1.5rem;
    }

    .snow {
        letter-spacing: 1pt;
        color: forestgreen;
        font-weight: 700;
        font-size: 0.8rem;
    }
    .social {
        margin-left: 1.5rem;
        
    }
    
    .social svg {
        width: 25px;
        height: auto;
    }
    


nav button {
    margin: .2rem 2vw;
    background-color: transparent;
}

nav {
	background-color: #aabd8c;
	margin: 0 auto;
	max-width: 780px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.9);
}
    nav ul {
    list-style: none;
  display: grid;
  margin: 0;
  grid-template-columns: repeat(auto-fit, minmax(6em, 1fr));
}

nav ul li a {
    display: block;
    padding: .8rem 2.5vw;
    text-decoration: none;
    color: #333;
    border-top: 2px solid rgba(0,0,0,0.5);
}

nav ul li a:hover {
    background-color: rgba(0,0,0,0.3);
}

nav ul li.active a{
    background-color: rgba(0,0,0,0.2);
    color:#fff;
}

.banner {
    display: flex;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    background-color: rgb(16, 243, 243);
  }
  

.home-grid {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-gap: 0.5em;
  }
  
  footer{
    background-color:#aabd8c;
	padding: 5px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
	align-items: center;
	
	margin: 0 auto;
  }
  #lastModified {
	text-align: center;
	font-size: smaller;
}



nav ul {display: none;}
nav ul.open {display: block;}

#hamburgerBtn span:nth-child(1) {display:block;}
#hamburgerBtn span:nth-child(2) {display:none;}

#hamburgerBtn.open  span:nth-child(1) {display:none;}
#hamburgerBtn.open span:nth-child(2) {display:block;}










