@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
body {
  font-size: 16px;
  font-family: Poppins, Arial, Helvetica, sans-serif;
}

header,
main,
footer {
  margin: 1rem;
  position: relative;
}


h1 {
  color: #000;
  border-bottom: 2px solid #eee;
  text-shadow: 0 0 15px #999;
  width: 60%;
  text-align: center;
  font-weight: bold;
  font-size: 3rem;
  color: #333399;
}

h2 {
  color: blue;
  margin: 0;
}

.cards {
  box-shadow: 0 4px 8px 0 black, 0 6px 20px 0 black;
  background-color: lightgray;
}

.cards section{
  border: 2px solid black;
  padding: 10px;
  background-color: #D9D9F3;
  overflow: hidden;
}

.cards section img{
  margin-left: auto;
  margin-right: auto;
  display: flex;
  box-shadow: 0 4px 8px 0 black, 0 6px 20px 0 black;
}

h3 {
  margin: 0;
}

h4 {
  color: #333;
  margin: 7px 0 5px 0;
}

p {
  margin: 0;
  white-space: pre;
  text-align: center;
}

main {
  margin-left: 2rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

section {
  margin: 0.25rem;
  padding: 0.35rem;
  background-color: #eee;
  border: 1px solid #bbb;
  display: flex;
  flex-direction: column;
  align-items: center;
}
section > p {
  min-height: 60px;
}

img {
  width: auto;
	max-width: 325px;
  box-shadow: 0 0 30px #777;
  height: 200px;
  border: 2px solid white;
}

li > img {
  width: auto;
  height: 30px;
}

footer {
  border-top: 1px solid #555;
  padding: 20px;
  text-align: center;
}

.caption {
  position: absolute;
  top: 1.5rem;
  right: 2rem;
  border: 1px solid #ccc;
  background-color: lightyellow;
  padding: 0.25rem;
  display: grid;
  align-items: center;
  grid-template-columns: 1rem 1fr;
}

.caption h6 {
  position: absolute;
  top: -2.3rem;
  left: -0.25rem;
}

.caption > div {
  width: 0.75rem;
  height: 0.75rem;
  border: 1px solid #bbb;
}

.caption > p {
  font-size: 0.75rem;
}

.most {
  background-color: #bed;
}

.fav {
  background-color: skyblue;
}

.own {
  background-color: rosybrown;
}

@media screen and (min-width: 32.5em) {
  .cards {
      display: grid;
      grid-template-columns: 1fr 1fr;
  }

  img {
      display: flex;
      width: 100%;
  }
}

@media screen and (min-width: 950px) {
  .cards {
      width: 1800px;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      justify-content: center;
      align-items: center;
      padding-left: 50px;
  }

  .cards section {
      max-width: 320px;
  }

  img {
      display: flex;
      max-width: 200px;
      
  }
}
